<h1>Listing shifts</h1>

<table>
  <tr>
  </tr>

<% @shifts.each do |shift| %>
  <tr>
    <td><%= link_to 'Show', shift %></td>
    <td><%= link_to 'Edit', edit_shift_path(shift) %></td>
    <td><%= link_to 'Destroy', shift, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New shift', new_shift_path %>