<h1>Listing employee_roles</h1>

<table>
  <tr>
  </tr>

<% @employee_roles.each do |employee_role| %>
  <tr>
    <td><%= link_to 'Show', employee_role %></td>
    <td><%= link_to 'Edit', edit_employee_role_path(employee_role) %></td>
    <td><%= link_to 'Destroy', employee_role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New employee_role', new_employee_role_path %>